CLEANING Keep only needed cloumns

In [ ]:
df_all = {}
import pandas as pd
for year in range(2003,2020):
    print(year)
    df = pd.read_csv('propertydetaillisting' + str(year) + '.csv')
    df_less = df[['POSTAL_CODE', 'PID','GROSS_LAND', 'GROSS_ASSESSMENT', 'Latitude', 'Longitude']]
    df_less.to_csv('cleaned_propertytax' + str(year) + '.csv')
    df_all[year] = df_less

In [6]:
#2019 has different column name
year = 2019
df = pd.read_csv('propertydetaillisting' + str(year) + '.csv')
df_less = df[['POSTAL_CODE', 'PID','GROSS_LAND', 'GROSS_ASSESSMENT', 'LATITUDE', 'LONGITUDE']]
df_less.to_csv('cleaned_propertytax' + str(year) + '.csv')
df_all[year] = df_less

C:\Users\nicke\AppData\Local\Temp\ipykernel_147388\1810702376.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('propertydetaillisting' + str(year) + '.csv')

In [7]:
#2020-2023 have different file name
for year in range(2020,2022):
    print(year)
    df = pd.read_csv('property_detail_listing_' + str(year) + '.csv')
    df_less = df[['POSTAL_CODE', 'PID','GROSS_LAND', 'GROSS_ASSESSMENT', 'LATITUDE', 'LONGITUDE']]
    df_less.to_csv('cleaned_propertytax' + str(year) + '.csv')
    df_all[year] = df_less 
for year in range(2022,2024):
    print(year)
    df = pd.read_csv('property_detail_list_' + str(year) + '.csv')
    df_less = df[['POSTAL_CODE', 'PID','GROSS_LAND', 'GROSS_ASSESSMENT', 'LATITUDE', 'LONGITUDE']]
    df_less.to_csv('cleaned_propertytax' + str(year) + '.csv')
    df_all[year] = df_less

2020

C:\Users\nicke\AppData\Local\Temp\ipykernel_147388\2500203749.py:4: DtypeWarning: Columns (1,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('property_detail_listing_' + str(year) + '.csv')

2021

C:\Users\nicke\AppData\Local\Temp\ipykernel_147388\2500203749.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('property_detail_listing_' + str(year) + '.csv')

2022
2023

In [ ]:
AGGREGATE all years to same row

In [70]:
df_agg = df_all[2023]
for year in range(2020,2024):
    print(df_agg.shape)
    df_to_join = df_all[year].set_index('PID')
    print(df_to_join.shape)
    df_agg = df_agg.join(df_to_join[['GROSS_LAND', 'GROSS_ASSESSMENT']], on='PID', how = 'left', rsuffix=str(year))
    df_agg.dropna(subset=['PID'], inplace=True)
    df_agg.drop_duplicates(subset=['PID'], inplace=True)
print(df_agg.shape)
pd.set_option('display.max_rows', None)
df_agg.head()
#df_to_join[['GROSS_LAND', 'GROSS_ASSESSMENT']].head()

(176896, 6)
(164239, 5)
(166248, 8)
(166204, 5)
(166248, 10)
(171318, 5)
(166248, 12)
(176896, 5)
(166248, 14)

,POSTAL_CODE,PID,GROSS_LAND,GROSS_ASSESSMENT,LATITUDE,LONGITUDE,GROSS_LAND2020,GROSS_ASSESSMENT2020,GROSS_LAND2021,GROSS_ASSESSMENT2021,GROSS_LAND2022,GROSS_ASSESSMENT2022,GROSS_LAND2023,GROSS_ASSESSMENT2023
0,V3X 0E5,028-625-871,1100000,1732000,49.114152,-122.828541,687000.0,1123000.0,708000.0,1190000.0,981000.0,1539000.0,1100000,1732000
1,V3T 5X9,026-178-346,314000,451000,49.199837,-122.848584,188000.0,306000.0,205000.0,324000.0,243000.0,384000.0,314000,451000
2,V3R 6T9,001-436-627,902000,936500,49.192477,-122.817171,486000.0,524700.0,531000.0,575200.0,759000.0,812100.0,902000,936500
3,V3T 4M4,001-821-288,626000,665500,NaN,NaN,462000.0,504000.0,476000.0,515400.0,560000.0,606300.0,626000,665500
4,V4A 1T2,004-878-027,1521000,1543000,49.032181,-122.793940,966000.0,983200.0,931000.0,949000.0,1257000.0,1279400.0,1521000,1543000

In [74]:
df_agg.drop(columns=['GROSS_LAND','GROSS_ASSESSMENT'], inplace=True)
df_agg.to_csv('cleaned_propertytax_aggreagted.csv')